@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.cdnfonts.com/css/barlow');

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@font-face {
  font-family: 'Archivo-Regular';
  src: url('../fonts/Archivo-Regular.ttf');
}

@font-face {
  font-family: 'Archivo-Light';
  src: url('../fonts/Archivo-Light.ttf');
}

@font-face {
  font-family: 'Archivo-Bold';
  src: url('../fonts/Archivo-Bold.ttf');
}

@font-face {
  font-family: 'Archivo-SemiBold';
  src: url('../fonts/Archivo-SemiBold.ttf');
}

.font-archivo-regular {
  font-family: 'Archivo-Regular';
}

.font-archivo-light {
  font-family: 'Archivo-Light';
}

.font-archivo-bold {
  font-family: 'Archivo-Bold';
}

.font-archivo-semibold {
  font-family: 'Archivo-SemiBold';
}

.font-barlow {
  font-family: 'Barlow', sans-serif;
}

.bg-blue {
  background: linear-gradient(108.97deg, #050E33 19.69%, #33407F 87.21%);
}