@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.cdnfonts.com/css/barlow');

@layer base {

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@font-face {
  font-family: 'Archivo-Regular';
  src: url('../fonts/Archivo-Regular.ttf');
}

@font-face {
  font-family: 'Archivo-Light';
  src: url('../fonts/Archivo-Light.ttf');
}

@font-face {
  font-family: 'Archivo-Bold';
  src: url('../fonts/Archivo-Bold.ttf');
}

@font-face {
  font-family: 'Archivo-SemiBold';
  src: url('../fonts/Archivo-SemiBold.ttf');
}

.font-archivo-regular {
  font-family: 'Archivo-Regular';
}

.font-archivo-light {
  font-family: 'Archivo-Light';
}

.font-archivo-bold {
  font-family: 'Archivo-Bold';
}

.font-archivo-semibold {
  font-family: 'Archivo-SemiBold';
}

.font-barlow {
  font-family: 'Barlow', sans-serif;
}

.origin-center-left {
  -webkit-transform-origin: center left;
  -ms-transform-origin: center left;
  transform-origin: center left;
}

.origin-center-right {
  -webkit-transform-origin: center right;
  -ms-transform-origin: center right;
  transform-origin: center right;
}

.growing {
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: xor;
}

.growing-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 1;
  background-image: linear-gradient(320deg, transparent, hsla(0, 0%, 60%, 0) 35%, hsla(0, 0%, 100%, .5) 50%, hsla(0, 0%, 76%, 0) 65%, transparent);
}

.growing-inner-lg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 1;
  background-image: linear-gradient(334deg, transparent, hsla(0, 0%, 60%, 0) 25%, hsla(0, 0%, 100%, .5) 50%, hsla(0, 0%, 76%, 0) 75%, transparent);
}

@media screen and (max-width: 600px) {
  .release-title {
    font-size: 12px;
  }
}

.scroll-hiden::-webkit-scrollbar {
  display: none;
}

/* Modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(8px);
}

.modal {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.close-button {
  background: #ccc;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}

/*  */
.popover-container {
  position: relative;
  display: inline-block;
}

.popover {
  position: absolute;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 50px;
  font-size: 14px;
  margin: 2px;
  z-index: 99;
}